body {
  background-color: #222;
  color: #DDD;
  width: 56em;
  font-size:12pt;
  margin-left:auto;
  margin-right:auto;
}

a, a:visited, a:active {
  color: #9CF;
  text-decoration: none;
}

h1 {
  margin-top:3em;
}

h1, h3, h4, h5, h6 {
  font-family: "Linux Libertine O", serif;
  font-weight: bold;
}

p, li, dt {
  max-width: 56em;
  font-family: sans-serif;
}

p {
  margin-left: 4ex;
}

dt, li {
  margin-left: 8ex;
}

dt {
  float: left;
  padding-right: 1em;
  min-width: 7em;
  font-weight: bold;
}

dd {
  clear: right;
  margin-left: 11em;
  width: 40em;
}

dd p {
  margin:0;
  padding: 0px 0px 0.5em 0px;
}

h2, tt, code, pre {
  font-family: "DejaVu Sans Mono", "Linux Libertine Mono O", "Courier 10 Pitch", Courier, monospace;
}

pre {
  max-width: 56em;
  margin-left: 4ex;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 4pt;
  color: black;
  /* padding-top: 1em; */
  /* padding-bottom: 1em; */
  font-size: 80%;
  white-space: pre;
}

ul#index {
  float:right;
  padding: 10px 20px;
  margin-top: -3em;
}

ul#index ul {
    padding: 0px 20px;
    margin: 0 0;
}

ul#index li, ul#index ul li {
  margin-left: 0;
}


/* Avoid linebreaks in headlines (floating index...) */
h2 {
  clear:both;
}

div.definitionAt {
  float:right;
  font-size:80%;
  margin-bottom:2ex;
  font-family: sans-serif;
  color: darkgray;
}
